{{!> default}}

{{> header}}

<h2>Instructions:</h2>
<p>Add a query parameter of 'n' to this URL, and set it equal to whatever number you'd like to know the square of.</p>
<p>For example:
  <pre>http://some-site.com?n=3</pre>
</p>

<h3>{{square}}</h3>